@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #fce205;
  width: 760px;
  height: 540px;
  border-radius: 5px;
  padding: 20px;
  border: none;
}

.app-header {
  font-size: 45px;
  color: black;
  align-self: center;
  margin-top: 20px;
}

.app-header:hover {
  color: #282c35;
}

.navbar-space {
  border: 1px solid red;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.navbar-items {
  color: black;
}
.display-part {
  border-radius: 3px;
  font-size: 15px;
  padding: 10px;
  align-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

button {
  margin-left: 10px;
  margin-top: 20px;
  background-color: black;
  color: #fce205;
  cursor: pointer;
}

button:hover {
  background-color: #fce205;
  color: black;
}
